$ff:'Source Sans Pro', sans-serif;
$width: 100vw;
$widthPer: 30%;
$height: 10vh;
$bordbot: 50%;
$background-size: 100%;
$padding-top: 50px;
$padding-left: 100px;
$fontweight600: 600;
$colorHeading: rgba(0, 0, 0, 0.753);
$borderSta: 1px solid black;
$var1: #7193d1;
$var2: #283c86;
$var3: #0e111a;
$var4: #8fb3c1;
$var5: rgb(93, 151, 124);
$var6: white;
$position: relative;
$topFirst: 100px;
$leftFirst: 0px;
$display: flex;
$alignItems: center;
$flex-direction: column;
$justifyBetween: space-between;
$number: 40px;
$numberF: 10px;
$numberS: 20px;
$number30: 30px;
$number50: 50px;
$number60: 60px;
$number600: 600px;

@mixin bradius($rad){
    -webkit-border-radius: $rad;
    border-radius: $rad;
}

$colors: (
  button: rgb(158, 146, 146)
);

body{
  background-color: $bodybackgroundcolor;
}

header:nth-child(1n){
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
  height: 100vh;
  border-bottom-right-radius: 50%;
  background: $background;
  background-size: 100%;
  padding-top: 50px;
  padding-left: 100px;
}

.header-wrap :nth-child(4) {
  width: 30%;
  position: relative;
  top: 10px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.landing-logo {
	display: $display;
	img {
		width: $number;
		height: $number;
	}
	p {
		margin-top: $number - 40px;
		margin-left: $numberF;
		font-size: $numberS;
		display: $display;
		flex-direction: $flex-direction;
		span {
			font-size: $numberS;
		}
	}
}

.header_heading {
	width: $number600;
	line-height: $number50;
	font-size: $number60;
	font-weight: $fontweight600;
	color: $colorHeading;
}
p.header_heading:after {
	position: $position;
	left: -0.2%;
	top: -0.5em;
	content: "awesome";
	background-color: $adventurecolor;
}
p.header_text {
	color: $footerheadingcolorr;
	font-weight: 600;
	white-space: pre-line;
	line-height: 26px;
	width: 940px;
}
button.header_button {
	margin-top: 10px ;
	width: 150px;
	height: 50px;
	background-color: $butoncolor;
  @include bradius(10px);
	border: none;
	color: white;
	&:hover {
		background-color: $var5;
	}
	&:active {
		background-color: $var2;
	}
}
a.login {
	color: $var6;
	font-weight: 600;
}
p.section_text {
	text-align: $alignItems;
	font-size: $number30;
	&::after {
		position: $position;
		left: -135px;
		top: 0.1;
		content: "adventure";
		background-color: $adventurecolor;
	}
}
.section_card {
	width: 60%;
	height: $widthPer;
	border: $borderSta;
	margin: 40px auto;
	display: $display;
	padding: 1%;
	align-items: center;
	justify-content: space-around;
	background-color: $sectioncardcolor; 
	color: white;
	border-radius: 10px;
	img {
		width: 400px;
		height: 244px;
		border-radius: 10px;
	}
	&_right_container {
		padding: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		font-family: 'Hind', sans-serif;
	}
}
p.section_card_heading {
	color: white;
	font-size: 20px;
	font-weight: 700;
}
p.section_card_text {
	color: rgb(196, 193, 193);
	width: 94%;
	text-align: justify;
}
a.section_link {
	color: rgb(196, 193, 193);
}
.section_banner {
	position: relative;
	top: 50px;
	display: flex;
	justify-content: space-around;
	width: 70%;
	height: 7em;
	@include bradius(10px);
	margin: 0 auto;
	background: $var2;
	background: -webkit-linear-gradient(to right, #45a247, $var2);
	background: linear-gradient(to right, #45a247, $var2);
	/* fallback for old browsers */
background: $webkitlineargradient;  /* Chrome 10-25, Safari 5.1-6 */
background: $lineargradient; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	&_heading {
		font-size: 25px;
		font-weight: 700;
		font-family: 'Source Sans Pro', sans-serif;
	}
	&_text {
		font-size: 12px;
		color: rgb(202, 199, 199);
	}
	&_button {
		position: relative;
		top: 30px;
		width: 15%;
		height: 40%;
		color: white;
		background-color: $butoncolor;
		border-radius: 5px;
		&:hover {
			background-color: map-get($colors, button);
		}
		&:active {
			background-color: rgb(124, 87, 87);
		}
	}
}

.footercollor{
  background-color: $adventurecolor;
}

p.section_banner_heading{
  color: $footerheadingcolor;
}
p.section_banner_heading::after {
	position: relative;
	left: -61%;
	content: "start ";
  @extend .footercollor;
}
.footer-wrap {
	box-sizing: border-box;
	background-color: $var3;
	width: 100vw;
	height: 10em;
	border: 1px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 70px;
	color: $var4;
}
p.footer_text {
	width: 25%;
	font-size: 15px;
}
