$background: url(../img/m-h-day.jpg) no-repeat;
$colorHeading: black;
$butoncolor: green;
$bodybackgroundcolor: white;
$adventurecolor: blue;
$colorHeading: white;
$sectioncardcolor: #283c86;
$footerheadingcolor: black;
$webkitlineargradient:-webkit-linear-gradient(to right, #45a247, #283c86);
$lineargradient: linear-gradient(to right, #45a247, #283c86);