$background: url(../img/m-h-night.jpg) no-repeat;
$colorHeading: white;
$butoncolor: orange;
$bodybackgroundcolor: #574f4f;
$adventurecolor: tomato;
$colorHeading: black;
$sectioncardcolor: #7e849b;
$footerheadingcolor: white;
$webkitlineargradient:-webkit-linear-gradient(to right, #a28945, #86286a);
$lineargradient: linear-gradient(to right, #a28945, #86286a);