* {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}

.container{
  width: 900px;
  margin: 0 auto;
}

.header{
  width: 900px;
  height: 400px;
  background: url(../img/apples.jpg) no-repeat;
  background-size: 100%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

.header-nav{
  display: flex;
  justify-content: space-between;
}

.tm-header-nav{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.tm-nav-item,.tm-nav-item-link{
  list-style-type: none;
  text-decoration: none;
  margin: 0 10px;
  color: white;
}

.header-main{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
}

.container-header-logo{
  display: flex;
  flex-direction: column;
}

.header_logo{
  letter-spacing: 3px;
}

.header_under_logo{
  font-size: 10px;
  margin: 20px auto;
}

button.header_button{
  position: relative;
  width: 150px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.418);
  color: rgba(255, 255, 255, 0.63);
}

.header_button:hover{
  background-color: rgba(172, 230, 117, 0.418);
}

.header_button:active{
  background-color: rgba(230, 222, 117, 0.418);
}
/* //////////    main    /////////// */


.main_header{
  width: 100%;
  height: 200px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main_header_one{
  padding-top: 20px;
  width: 370px;
  height: 100px;
  margin-right: 20px;
}

.main_header_two{
  padding-top: 18px;
  width: 400px;
  height: 100px;
  font-size: 11px;
}

.main_main{
  width: 100%;
  height: 1250px;
  display: flex;
  flex-direction: column;
  background-color: #E8E8E8;
}

.section_card{
  padding: 10px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.section_card:nth-child(2n){
  flex-direction: row-reverse;
}

.section_card_img{
  height: 250px;
  width: 60%;
}

.section_card_text_out{
  position: relative;
  color: white;
  top: 40px;
  left: -550px;
}

.section_card:nth-child(2n) .section_card_text_out{
  position: relative;
  color: white;
  top: 30px;
  left: 300px;
}

.section_card_container{
  height: 30%;
  width: 30%;
  padding-bottom: 10px;
}

.section_footer{
  background-color: #fff;
  margin: 20px auto;
  height: 100px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.for_button{
  display: flex;

}

.main_footer_input,.main_footer_button{
  background-color: #9E9E9E;
  height: 50px;
  width: 70px;
}

.main_footer_input{
  width: 400px;
  background-color: #E8E8E8;
}

footer.footer{
  margin-top: 20px;
  height: 250px;
}

.footer_container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.footer_cont{
  margin: 0 20px;
}

.footer_cont h3{
  margin-bottom: 14px;
}


.footer_cont p{
  font-size: 10px;
  color: #E8E8E8;
}

.rec_button{
  margin-top: 9px;
  margin-bottom: 50px;
  width: 160px;
  height: 30px;
}

button.rec_button{
  width: 80px;
}

.footer_footer{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #E8E8E8;
}

.footer_nav{
  display: flex;
}

.rec_footer_nav{
  color: black;
}