/* 

write your code here

*/

.flex-2-col{
  display: flex;
  align-items: center;
}

.tm-main-nav{
  z-index: 11;
}

.tm-banner {
  border: 25px solid grey;
  padding: 0;
}

@media print {
  body{
    margin: 0px;
  }

  .tm-banner {
    border: none;
    padding: 0;
  }

  section {
    display: none;
}

  section:nth-of-type(1) {
    display: block;
}

  #about{
    display: none;
  }
  section:nth-child(2) img {
    width: 300px;
  }

}

#about h2:hover {
  background-color: rgba(231, 116, 116, 0.432);
  color: white;
}

p::first-letter {
  color:lightskyblue;
  font-size: 30px;
}

.tm-sidebar{
  box-shadow: 0 0 5px grey;
}

.tm-content-box {
  box-shadow: 0 0 5px grey;
}


section {
  position: relative;
  overflow: hidden;
  z-index: 8;
}

section::after {
  content: "";
  position: absolute;
  background-color: rgba(20, 56, 70, 0.541);
  width: 370px;
  height: 50px;
  transform: rotate(-12deg);
  z-index: 9;
  top: -35px;
  left: -10px;
}

.carousel-item:first-child h2 {
  color: gainsboro;
  letter-spacing: 5px;
}

h2 + p {
  font-style: italic;
}

p {
  line-height: 150%;
  text-indent: 20px;
}

section:nth-child(3) li:nth-child(1) a:after,section:nth-child(3) li:nth-child(3) a:after {
    content: 'New';
    position: relative;
    top: -2px;
    color: red;
    font-size: smaller;
}

section:first-child a:hover {
  text-decoration: underline;
  color: green;
}

section:first-child a:visited {
 text-decoration: underline;
}

.blocks ul li:nth-child(2n){
  background-color: rgba(115, 115, 146, 0.5);
}

nav a:hover {
  background-color: grey;
}

.contact-form div:nth-child(2):after{
  content: '\2606';
  color: red;
  display: inline-block;
  z-index: 100;
}

button[type="submit"]{
  width: 100px;
  height: 50px;
  border-radius: 0%;
  color: rgba(102, 102, 194, 0.829);
  background-color: white;
}