html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


:focus {
    outline: 0;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}


audio:not([controls]) {
    display: none;
    height: 0;
}


[hidden] {
    display: none;
}

html {
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

a:focus {
    outline: thin dotted;
}


a:active,
a:hover {
    outline: 0;
}

img {
    border: 0; 
    -ms-interpolation-mode: bicubic; 
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}



legend {
    border: 0; 
    padding: 0;
    white-space: normal; 
    *margin-left: -7px; 
}



button,
input,
select,
textarea {
    font-size: 100%; 
    margin: 0; 
    vertical-align: baseline;
    *vertical-align: middle; 
}



button,
input {
    line-height: normal;
}


button,
select {
    text-transform: none;
}



button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
    *overflow: visible;  
}



button[disabled],
html input[disabled] {
    cursor: default;
}



input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
    *height: 13px; 
    *width: 13px;
}



input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}



button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; 
    vertical-align: top;
}



table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width:768px){
  .container{
    margin: 0 auto;
    width: 414px;
    height: 2000px;
  }
  
  header > span{
    color: red;
    display: none;
  }

  header > img{
    width: 30px;
    margin: 0 auto;
  }

  header{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .header-nav{
    margin-top: 10px;
    display: flex;
  }
  
  .nav-item a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 900;
  }
  
  .nav-item{
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 0 10px 0 0;
  }

  .main-header{
    position: absolute;
  }
  
  .under-main-header{
    background: url(../img/lady.jpg) no-repeat;
    background-size: 200%;
    cursor: pointer;
    background-position: -30px 20px;
    width: 414px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .under-main-header > h1{
    font-size: 35px;
    width: 280px;
    text-align: center;
    font-weight: 700;
  }

  .under-main-header > h1,
  .under-main-header > p{
    margin-bottom: 10px;
  }
  
  .under-main-header > p{
    width: 250px;
    text-align: center;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.377);
  }
  
  .main_header_img{
    width: 768px;
    display: none;
  }
  
  .nav-item-main{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
  }
  
  .nav-item-main li{
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: #0078aa;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-item-main li:nth-child(1){
    padding-left: 3px;
  }
  
  .nav-item-main li:nth-child(2){
    margin: 0 30px;
  }
  
  .main-header-two{
    position: absolute;
    top: 460px;
    width: 414px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .main_header_img_two{
    width: 350px;
  }
  
  .under-main-header_two{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .under-main-header_two > h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  #personal-care{
    margin-top: 4px;
    font-size: 8px;
  }
  
  .under-main-header_two article p{
    text-align: center;
    width: 240px;
    font-size: 8px; 
    margin-top: 5px;
  }
  
  .under-main-header_two article{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about_clinic_h{
    font-weight: 700;
    font-size: 10px;
  }
  
  .container_green-blue{
    position: absolute;
    top: 1000px;
    width: 414px;
    height: 1550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/services_bg.jpg") no-repeat;
    background-size: 800%;
  }
  
  .container_green-blue > h3{
    margin-top: 50px;
    font-size: 27px;
    font-weight: 700;
  }
  
  .container_green-blue > span:nth-child(2){
    margin-top: 5px;
    font-size: 15px;
    
  }
  
  .con_box{
    margin: 20px auto;
    width: 414px;
    height: 200px;
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .con_box_box{
    margin: 10px;
    width: 360px;
    height: 200px;
    background-color: #fff;
    padding-top: 10px;
    padding-left:20px;
  }
  
  .litll{
    width: 30%;
  }
  
  .box_after_header{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .box_box_after{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    left: -13px;
    font-size: 13px;
  }
  
  .section_tools{
    position: absolute;
    top: 2600px;
    width: 414px;
  }
  
  .section_tools > span{
    margin-left: 70px;
    font-size: 17px;
    font-weight: 500;
  }
  
  .section_tools > h3{
    text-align: center;
    font-weight: 600;
    font-size: 29px;
  }
  
  .section_tools_img{
    width: 414px;
  }
  
  .price{
    position: absolute;
    width: 414px;
    height: 600px;
    background-color: rgba(255, 0, 0, 0.281);
    top: 60px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
  }
  
  .price_ch{
    height: 550px;
    width: 414px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    font-size: 11px;
  }
  
  .price_ch > li:nth-child(1),
  .price_ch > li:nth-child(2){
    font-weight: 700;
    font-size: 30px;
  }
  
  .price > div:nth-child(2){
    top:-30px;
   color: #0078aa;
   background-color: white;
   border: 1px solid #0078aa;
  }
  
  .price > div{
   color: #fff;
   background-color: #3fc4fd;
  }
  
  .price_ch li,ul{
    list-style-type: none;
    text-decoration: none;
    padding:0;
    text-align: center;
  }
  
  .price_ch > li > button {
    background-color: #fff;
    color: #0078aa;
    width: 80px;
    height: 40px;
    font-weight: 700;
    border: 1px solid #0078aa;
    border-radius: 5px;
  }
  
  .price_ch > li:nth-child(2){
    font-size: 40px;
  }
  
  .contact_information{
    position: absolute;
    top: 4400px;
    display: flex;
    flex-direction: column;
  }
  
  .contact_image{
    width: 368px;
  }
  
  .make_an_apointment{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .make_an_apointment > h3 {
    text-align: center;
    margin-top: 20px;
    width: 150px;
    font-weight: 700;
    font-size: 20px;
  }
  
  .make_an_apointment > span{
    font-size: 12px;
    margin: 10px 0 20px; 
  }
  
  .contact_input > li > input:nth-child(1n){
    font-size: 10px;
    font-style: italic;
    color: rgb(128, 125, 125);
    margin: 0 0 15px 0;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgba(191, 191, 202, 0.199);
  }
  
  li [type="data"] {
    color: rgb(15, 15, 15);
    font-weight: 900;
  }
  
  
  footer{
    position:absolute;
    top: 4999px;
    height: 30px;
    width: 414px;
    color:white;
    background-color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer > span{
    color:rgb(146, 155, 137)
  }
  
  .contact_input > li > button{
    position: relative;
    width: 70px;
    height: 30px;
    background-color: #007fb6;
    border-radius: 7px;
    font-size: 10px;
    border: none; 
    color: white;
  }
  
  .uil-calender{
    position:relative;
    color:black;
    top: -97px;
    left: 130px;
  }

}

@media screen and (min-width:768px){
  .container{
    margin: 0 auto;
    width: 768px;
    height: 2000px;
  }
  
  header{
    margin: 30px 0;
  display: flex;
  justify-content: space-between;
  }
  
  .header-nav{
    display: flex;
  }
  
  .nav-item a{
    text-decoration: none;
    color: black;
    font-size: 8px;
    font-weight: 900;
  }
  
  .nav-item{
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 0 10px 0 0;
  }

  .main-header{
    position: absolute;
  }
  
  .under-main-header{
    position: relative;
    top: -200px;
    left: 70px;
    width: 250px;
  }
  
  .under-main-header > h1{
    font-weight: 700;
  }

  .under-main-header > h1,
  .under-main-header > p{
    margin-bottom: 10px;
  }
  
  .under-main-header > p{
    width: 250px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.377);
  }
  
  .main_header_img{
    width: 768px;
  }
  
  .nav-item-main{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
  }
  
  .nav-item-main li{
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: #0078aa;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-item-main li:nth-child(1){
    padding-left: 3px;
  }
  
  .nav-item-main li:nth-child(2){
    margin: 0 30px;
  }
  
  .main-header-two{
    position: absolute;
    top: 400px;
    display: flex;
  }
  
  .main_header_img_two{
    width: 35%;
    height: 35%;
  }
  
  .under-main-header_two{
    margin-left: 50px;
  }

  .under-main-header_two > h3 {
    font-weight: 700;
  }
  
  #personal-care{
    font-size: 8px;
  }
  
  .under-main-header_two article p{
    width: 250px;
    font-size: 8px;
    margin-top: 5px;
  }
  
  .under-main-header_two article{
    margin-top: 10px;
  }
  
  #about_clinic_h{
    font-weight: 700;
    font-size: 10px;
  }
  
  .container_green-blue{
    position: absolute;
    top: 700px;
    width: 768px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/services_bg.jpg");
    background-size: 100%;
  }
  
  .container_green-blue > h3{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .container_green-blue > span:nth-child(2){
    margin-top: 5px;
    font-size: 10px;
    
  }
  
  .con_box{
    margin: 20px auto 0;
    width: 780px;
    height: 200px;
    display:flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }
  
  .con_box_box{
    margin: 10px;
    width: 200px;
    height: 130px;
    background-color: #fff;
    padding-top: 10px;
    padding-left:20px;
  }
  
  .litll{
    width: 30%;
  }
  
  .box_after_header{
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .box_box_after{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    left: -13px;
    font-size: 9px;
  }
  
  .section_tools{
    position: absolute;
    top: 1200px;
  }
  
  .section_tools > span{
    text-align: center;
    margin-left: 307px;
    font-size: 10px;
    font-weight: 500;
  }
  
  .section_tools > h3{
    text-align: center;
    font-weight: 600;
  }
  
  .section_tools_img{
    width: 768px;
  }
  
  .price{
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.281);
    top: 100px;
    left: 100px;
    display: flex;
  }
  
  .price_ch{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    font-size: 11px;
  }
  
  .price_ch > li:nth-child(1),
  .price_ch > li:nth-child(2){
    font-weight: 700;
  }
  
  .price > div:nth-child(2){
    position:relative;
    top:-30px;
   color: #0078aa;
   background-color: white;
   height: 120%;
   border: 1px solid #0078aa;
  }
  
  .price > div{
   color: #fff;
   background-color: #3fc4fd;
  }
  
  .price_ch li,ul{
    list-style-type: none;
    text-decoration: none;
    padding:0;
    text-align: center;
  }
  
  .price_ch > li > button {
    background-color: #fff;
    color: #0078aa;
    font-weight: 700;
    border: 1px solid #0078aa;
    border-radius: 5px;
  }
  
  .price_ch > li:nth-child(2){
    font-size: 19px;
  }
  
  .contact_information{
    position: absolute;
    top: 1700px;
    display: flex;
  }
  
  .contact_image{
    width: 368px;
  }
  
  .make_an_apointment{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

  .make_an_apointment > h3 {
    font-weight: 700;
    font-size: 20px;
  }
  
  .make_an_apointment > span{
    font-size: 12px;
    margin: 10px 0 20px; 
  }
  
  .contact_input > li > input:nth-child(1n){
    font-size: 10px;
    font-style: italic;
    color: rgb(128, 125, 125);
    margin: 0 0 15px 0;
    width: 300px;
    border: none;
    border-bottom: 1px solid rgba(191, 191, 202, 0.199);
  }
  
  li [type="data"] {
    color: rgb(15, 15, 15);
    font-weight: 900;
  }
  
  
  footer{
    position:absolute;
    top: 1970px;
    height: 30px;
    width: 768px;
    color:white;
    background-color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer > span{
    color:rgb(146, 155, 137)
  }
  
  .contact_input > li > button{
    position: relative;
    left: -120px;
    width: 70px;
    height: 30px;
    background-color: #007fb6;
    border-radius: 7px;
    font-size: 10px;
    border: none; 
    color: white;
  }
  
  .uil-calender{
    position:relative;
    color:black;
    top: -97px;
    left: 130px;
  }

}

@media screen and (min-width:1280px){
  .container{
    margin: 0 auto;
    width: 1280px;
    height: 3400px;
  }
  
  header{
    margin: 30px 0;
  display: flex;
  justify-content: space-between;
  }
  
  .header-nav{
    display: flex;
  }
  
  .nav-item a{
    text-decoration: none;
    color: black;
    font-size: 8px;
    font-weight: 900;
  }
  
  .nav-item{
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: 0 10px 0 0;
  }
    
  .main-header{
    position: absolute;
  }
  
  .under-main-header{
    position: relative;
    top: -350px;
    left: 70px;
    width: 300px;
  }

  .under-main-header > h1{
    width: 500px;
    font-weight: 700;
  }
  
  .under-main-header > h1,
  .under-main-header > p{
    font-size: 35px;
    margin-bottom: 30px;
  }
  
  .under-main-header > p{
    width: 250px;
    font-size: 20px;
    width: 500px;
    color: rgba(0, 0, 0, 0.377);
  }
  
  .main_header_img{
    width: 1280px;
  }
  
  .nav-item-main{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0px;
  }
  
  .nav-item-main li{
    font-size: 30px;
    width: 40px;
    height: 40px;
    background-color: #0078aa;
    border-radius: 50px;
    color: white;
    text-align: center;
  }
  
  .nav-item-main li:nth-child(1){
    padding: 3px 3px; 
  }
  
  .nav-item-main li:nth-child(2){
    margin: 0 30px;
    padding: 1px 1px 0 0; 
  }
  
  .nav-item-main li:nth-child(3){
  padding: 3px 3px; 
  }
  
  .main-header-two{
    position: absolute;
    top: 650px;
    display: flex;
  }
  
  .main_header_img_two{
    width: 60%;
    height: 60%;
  }
  
  .under-main-header_two{
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
  }

  .under-main-header_two > h3{
    font-size: 29px;
    font-weight: 600;
  }

  .under-main-header_two > a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
  }

  
  #personal-care{
    font-size: 15px;
  }
  
  .under-main-header_two article > p{
    width: 350px;
    font-size: 12px;
    margin-top: 10px;
  }
  
  .under-main-header_two article{
    margin-top: 10px;
  }
  
  span.about_clinic_h{
    font-weight: 700;
    font-size: 17px;
  }
  
  .container_green-blue{
    position: absolute;
    top: 1200px;
    width: 1280px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/services_bg.jpg");
    background-size: 100%;
  }
  
  .container_green-blue > h3{
    margin-top: 50px;
    font-size: 20px;
  }
  
  .container_green-blue > span:nth-child(2){
    margin-top: 5px;
    font-size: 10px;
    
  }
  
  .con_box{
    margin: 20px auto 0;
    width: 1050px;
    height: 200px;
    display:flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }
  
  .con_box_box{
    margin: 10px;
    width: 300px;
    height: 230px;
    background-color: #fff;
    padding-top: 10px;
    padding-left:20px;
  }
  
  .litll{
    width: 50%;
  }
  
  .box_after_header{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .box_box_after{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    left: -13px;
    font-size: 15px;
  }
  
  .section_tools{
    position: absolute;
    top: 1900px;
  }
  
  .section_tools > span{
    text-align: center;
    margin-left: 517px;
    font-size: 15px;
    font-weight: 500;
  }
  
  .section_tools > h3{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }
  
  .section_tools_img{
    width: 1280px;
  }
  
  .price{
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.281);
    top: 100px;
    left: 100px;
    display: flex;
  }
  
  .price_ch{
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0 0px 0;
    font-size: 18px;
  }
  
  .price_ch > li:nth-child(1),
  .price_ch > li:nth-child(2){
    font-weight: 700;
    font-size: 27px;
  }
  
  .price_ch > li:nth-child(2){
    font-size: 33px; 
  }

  .price > div{
    color: #fff;
    background-color: #3fc4fd;
    height: 200%;
  }
  
  .price > div:nth-child(2){
    position:relative;
    top:-40px;
   color: #0078aa;
   background-color: white;
   height: 230%;
   border: 1px solid #0078aa;
  }
  
  .price_ch li,ul{
    list-style-type: none;
    text-decoration: none;
    padding:0;
    text-align: center;
  }
  
  .price_ch > li > button {
    background-color: #fff;
    color: #0078aa;
    font-weight: 700;
    border: 1px solid #0078aa;
    border-radius: 5px;
  }
  
  .price_ch > li:nth-child(2){
    font-size: 39px;
  }
  
  .contact_information{
    position: absolute;
    top: 2900px;
    display: flex;
  }
  
  .contact_image{
    width: 668px;
  }
  
  .make_an_apointment{
    margin: 140px 0 0 40px;
    display: flex;
    flex-direction: column;
  }

  .make_an_apointment > h3{
    font-size: 30px;
    font-weight: 700;
  }
  
  .make_an_apointment > span{
    margin: 10px 0 30px 0; 
  }
  
  .contact_input > li > input:nth-child(1n){
    font-size: 10px;
    font-style: italic;
    color: rgb(128, 125, 125);
    margin: 0 0 15px 0;
    width: 400px;
    border: none;
    border-bottom: 1px solid rgba(191, 191, 202, 0.199);
  }
  
  li [type="data"] {
    color: rgb(15, 15, 15);
    font-weight: 900;
  }
  
  
  footer{
    position:absolute;
    top: 3391px;
    height: 30px;
    width: 1280px;
    color:white;
    background-color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer > span{
    color:rgb(146, 155, 137)
  }
  
  .contact_input > li > button{
    position: relative;
    left: -170px;
    width: 80px;
    height: 35px;
    background-color: #007fb6;
    border-radius: 7px;
    font-size: 10px;
    border: none; 
    color: white;
  }
  
  .uil-calender{
    position:relative;
    color:black;
    top: -110px;
    left: 180px;
  }

}

