header:nth-child(1n){
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
  height: 100vh;
  border-bottom-right-radius: 50%;
  background: url(../img/m-h-day.jpg) no-repeat;
  background-size: 100%;
  padding-top: 50px;
  padding-left: 100px;
}

.header-wrap :nth-child(4) {
  width: 30%;
  position: relative;
  top: 100px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-logo{
  display:flex;
}

.landing-logo img{
  width: 40px;
  height: 40px;
}

.landing-logo p{
  margin-top: 0px;
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.landing-logo p span {
  font-size: 20px;
}

.header_heading{
  width: 600px;
  line-height: 50px;
  font-size: 60px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.753);
}


p.header_heading:after{
  position: relative;
  left: -0.2%;
  top: -0.5em;
  content: "awesome";
  background-color: #7193d1;
}

p.header_text{
  color: rgba(15, 15, 15, 0.5);
  font-weight: 600;
  white-space: pre-line;
  line-height: 26px;
  width: 940px;
}

button.header_button{
margin-top: 10px ;
width: 150px;
height: 50px;
background-color: green;
border-radius: 10px;
border: none;
color: white;
}

button.header_button:hover{
  background-color: rgb(93, 151, 124);
  }

button.header_button:active{
background-color: rgb(93, 93, 151);
}

a.login{
  color: white;
  font-weight: 600;
}


p.section_text{
  text-align: center;
  font-size: 30px;
}

p.section_text::after{
  position: relative;
  left: -135px;
  top: 0.1;
  content: "adventure";
  background-color: #7193d1;
}

.section_card{
  width: 60%;
  height: 30%;
  border: 1px solid black;
  margin: 40px auto;
  display: flex;
  padding: 1%;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(14, 17, 26);
  color: white;
  border-radius: 10px;
}

.section_card img{
  width: 400px;
  height: 244px;
  border-radius: 10px;
}

.section_card_right_container{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Hind', sans-serif;
}

p.section_card_heading{
  color: white;
  font-size: 20px;
  font-weight: 700;
}

p.section_card_text{
  color:rgb(196, 193, 193); 
  width: 94%;
  text-align: justify;
 
}

a.section_link{
  color:rgb(196, 193, 193);
}

.section_banner{
  position: relative;
  top: 50px;
  display:flex;
  justify-content: space-around;
  width: 70%;
  height: 7em;
  border-radius: 10px;
  margin: 0 auto;
  background: #283c86;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.section_banner_heading{
  font-size: 25px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
}

p.section_banner_heading::after{
  position:relative;
  left: -61%;
  content: "start ";
  background-color: #7193d1;
}

.section_banner_text{
  font-size: 12px;
  color:rgb(202, 199, 199)
}

.section_banner_button{
  position: relative;
  top: 30px;
  width:15%;
  height: 40%;
  color: white;
  background-color: green;
  border-radius:  5px;
}

.section_banner_button:hover{
  background-color: rgb(158, 146, 146);
}

.section_banner_button:active{
  background-color: rgb(124, 87, 87);
}

.footer-wrap{
  box-sizing: border-box;
  background-color: #0e111a;
  width: 100vw;
  height: 10em;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
  color: #8fb3c1;
}

p.footer_text{
  width: 25%;
  font-size: 15px;
}